---
// @ts-ignore 
import Header from '../components/Header.astro';
// @ts-ignore 
import Layout from '../layouts/Layout.astro';
import StarlinkMission from '../components/StarlinkMission.astro'
---

<Layout title="SpaceX">
	<main>
		<Header/>
		
		<StarlinkMission/>
	</main>
</Layout>

