<footer class="bg-black flex justify-center items-center p-8">
    <nav>
        <ul class="flex gap-x-10 text-white text-[11px] font-bold justify-center items-center">
            <li><a href="#">SPACEX © 2023</a></li>
            <li><a href="#">TWITTER</a></li>
            <li><a href="">YOUTUBE</a></li>
            <li><a href="">INSTAGRAM</a></li>
            <li><a href="">FLICKR</a></li>
            <li><a href="">LINKEDIN</a></li>
            <li><a href="">PRIVACY POLICY</a></li>
            <li><a href="">SUPPLIERS</a></li>
        </ul>
    </nav>
</footer>