<footer class="bg-black flex justify-center items-center p-8">
    <nav>
        <ul class="flex gap-x-10 text-white text-[11px] font-bold justify-center items-center [&>li]:transition-colors [&>li]:duration-[1s]">
            <li class="hover:text-[#8b939b]"><a href="#">SPACEX © 2023</a></li>
            <li class="hover:text-[#8b939b]"><a href="#">TWITTER</a></li>
            <li class="hover:text-[#8b939b]"><a href="">YOUTUBE</a></li>
            <li class="hover:text-[#8b939b]"><a href="">INSTAGRAM</a></li>
            <li class="hover:text-[#8b939b]"><a href="">FLICKR</a></li>
            <li class="hover:text-[#8b939b]"><a href="">LINKEDIN</a></li>
            <li class="hover:text-[#8b939b]"><a href="">PRIVACY POLICY</a></li>
            <li class="hover:text-[#8b939b]"><a href="">SUPPLIERS</a></li>
        </ul>
    </nav>
</footer>