---
import Logo from "./Logo.astro";

---

<header id="header" class="fixed top-0 items-center flex w-full h-[100px] gap-x-[9rem] z-40 text-white transition-opacity ease-linear duration-[0.9s]">
    <div id="headerIz" class="flex items-center mr-[19rem] ml-[19rem] gap-x-[2rem]">

        <div class="flex flex-grow basis-0">
            <Logo/>
        </div>
        
        <nav>
            <ul class="
            flex 
            gap-x-7
            text-[13px]
            [&>li>a]:font-sans
            [&>li>a]:inline-block
            [&>li>a]:pt-2.5 
            [&>li>a]:relative">
                <li><a class="after:content-[' '] after:absolute after:w-full after:h-[1px] after:bottom-0 after:left-0 after:bg-white after:scale-x-0 after:origin-bottom-right after:transition-transform after:duration-[0.6s] after:ease-out hover:after:scale-100 hover:after:origin-bottom-left" href="#">FALCON 9</a></li>
                <li><a class="after:content-[' '] after:absolute after:w-full after:h-[1px] after:bottom-0 after:left-0 after:bg-white after:scale-x-0 after:origin-bottom-right after:transition-transform after:duration-[0.6s] after:ease-out hover:after:scale-100 hover:after:origin-bottom-left" href="#">FALCON HEAVY</a></li>
                <li><a class="after:content-[' '] after:absolute after:w-full after:h-[1px] after:bottom-0 after:left-0 after:bg-white after:scale-x-0 after:origin-bottom-right after:transition-transform after:duration-[0.6s] after:ease-out hover:after:scale-100 hover:after:origin-bottom-left" href="#">DRAGON</a></li>
                <li><a class="after:content-[' '] after:absolute after:w-full after:h-[1px] after:bottom-0 after:left-0 after:bg-white after:scale-x-0 after:origin-bottom-right after:transition-transform after:duration-[0.6s] after:ease-out hover:after:scale-100 hover:after:origin-bottom-left" href="#">STARSHIP</a></li>
                <li><a class="after:content-[' '] after:absolute after:w-full after:h-[1px] after:bottom-0 after:left-0 after:bg-white after:scale-x-0 after:origin-bottom-right after:transition-transform after:duration-[0.6s] after:ease-out hover:after:scale-100 hover:after:origin-bottom-left" href="#">HUMAN SPACEFLIGHT</a></li>
                <li><a class="after:content-[' '] after:absolute after:w-full after:h-[1px] after:bottom-0 after:left-0 after:bg-white after:scale-x-0 after:origin-bottom-right after:transition-transform after:duration-[0.6s] after:ease-out hover:after:scale-100 hover:after:origin-bottom-left" href="#">RIDESHARE</a></li>
                <li><a class="after:content-[' '] after:absolute after:w-full after:h-[1px] after:bottom-0 after:left-0 after:bg-white after:scale-x-0 after:origin-bottom-right after:transition-transform after:duration-[0.6s] after:ease-out hover:after:scale-100 hover:after:origin-bottom-left" href="#">STARSHIELD</a></li>
                <li><a class="after:content-[' '] after:absolute after:w-full after:h-[1px] after:bottom-0 after:left-0 after:bg-white after:scale-x-0 after:origin-bottom-right after:transition-transform after:duration-[0.6s] after:ease-out hover:after:scale-100 hover:after:origin-bottom-left" href="#">STARLINK</a></li>
            </ul>
        </nav>
    </div>

    <div id="headerDer" class="flex items-center gap-x-[25px] pt-2.5">
        <a id="headerDerAnchor" class="font-sans text-[13px] relative inline-block after:content-[' '] after:absolute after:w-full after:h-[1px] after:bottom-0  after:left-0 after:bg-white after:scale-x-0 after:origin-bottom-right after:transition-transform after:duration-[0.6s] after:ease-out hover:after:scale-100 hover:after:origin-bottom-left" href="#">SHOP</a>
        <button id="click" class={`z-30 flex flex-col w-5 h-4 border-0 bg-transparent gap-[.25rem] [&>div]:bg-white [&>div]:h-[2px] [&>div]:w-full [&>div]:rounded-[5px] [&>div]:transition-all [&>div]:duration-[.5s] [&>div]:origin-left`}>
            <div id="line1" class="rotate-[var(--rotate)]"></div>
            <div id="line2" class="opacity-[var(--worthOpacity)]"></div>
            <div id="line3" class="rotate-[var(--rotateNegative)]"></div>
        </button> 
    </div>
    
    <div id="menu" class="top-0 fixed hidden">
        <div class="absolute w-screen h-screen bg-[rgba(0,0,0,.5)] flex justify-end top-0 animate-fade animate-once animate-ease-in"> 
            <div class="bg-[#000] w-[23rem] h-screen top-0 animate-fade-left animate-once animate-ease-in"></div>
        </div>
        
        <div class="absolute flex text-right justify-end items-end w-screen flex-col py-[80px] px-[58px] gap-y-4 z-30 animate-fade-left animate-once animate-ease-in">
            <ul class="text-white w-[15rem] text-right [&>li>a]:font-serif [&>li>a]:font-[500] flex flex-col gap-y-1 leading-10 [&>li]:border-b [&>li]:border-b-[#252525] [&>li]:transition-colors [&>li]:duration-[1s]">
                <li class="hover:text-[#8b939b]"><a href="#">MISSION</a></li>
                <li class="hover:text-[#8b939b]"><a href="#">LAUNCHES</a></li>
                <li class="hover:text-[#8b939b]"><a href="#">CAREERS</a></li>
                <li class="hover:text-[#8b939b]"><a href="#">UPDATES</a></li>
                <li class="hover:text-[#8b939b]"><a href="#">SHOP</a></li>
            </ul>
        </div>
    </div>
</header>

<script>
    const $header = document.getElementById("header")
    const $section = document.querySelectorAll(".landing-section")
    const $buttonClickOpen = document.getElementById("click")
    const $menu = document.getElementById("menu")
    const $headerDerAnchor = document.getElementById("headerDerAnchor")
    const $line1 = document.getElementById("line1") 
    const $line2 = document.getElementById("line2")
    const $line3 = document.getElementById("line3")

    const options = {
        root: null,
        rootMargin: "0px",
        threshold: 0.5
    }

    const rotatePositive = 37
    const opacity = 0
    const rotateNegative = -37

    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            const intersecting = entry.isIntersecting
                $header.style.visibility = intersecting ? "hidden" : "visible"
                $header.style.opacity = intersecting ? "0" : "100"

        })
    }, options)

    $section.forEach(element => {
        observer.observe(element)
    })

  
    $buttonClickOpen.addEventListener("click",OpenClose);

    function OpenClose(e){
        $menu.classList.toggle("hidden")
        $headerDerAnchor.style.visibility = "hidden"
        $line1.style.setProperty('--rotate', `${rotatePositive}deg`)
        $line2.style.setProperty('--worthOpacity', `${opacity}`)
        $line3.style.setProperty('--rotateNegative', `${rotateNegative}deg`)
        if($menu.classList.contains("hidden")){
            $headerDerAnchor.style.visibility = "visible"
            $line1.style.setProperty('--rotate', `${0}deg`)
            $line2.style.setProperty('--worthOpacity', `${1}`)
            $line3.style.setProperty('--rotateNegative', `${0}deg`)
        }
    }

</script>