---
import Section from "./Section.astro";
---

<Section title="PSN SATRIA MISSION" subtitle="RECENT LAUNCH" pbutton="REWATCH">
    <img slot="background" class="h-full w-full object-cover object-center" src="/PSN_Satria_pad39a_DSC_6855_desktop_6dd3f9c0d0.jpg" alt="Starlink1">
</Section>