---
import Section from "./Section.astro";
---

<Section title="STARLINK MISSION" subtitle="UPCOMING LAUNCH" pbutton="WATCH">
    <img slot="background" class="h-full w-full object-cover object-center" src="/public/Homepage_Starlink_SLC_40_Desktop_cac54ee8bd.jpg" alt="Starlink1">
</Section>