---
import Section from "./Section.astro";
---

<Section title="STARSHIP FLIGHT TEXT" pbutton="REWATCH">
    <img slot="background" class="h-full w-full object-cover object-center" src="/public/STARSHIP_Testflight_DESKTOP_2b3bea613a.jpg" alt="Starlink1">
</Section>