---
import Section from "./Section.astro";
---

<Section title="STARLINK MISSION" subtitle="RECENT LAUNCH" pbutton="REWATCH">
    <img slot="background" class="h-full w-full object-cover object-center" src="/homepage_574c3cd327.jpg" alt="Starlink1">
</Section>